---
import Layout from "@/layouts/Layout.astro";
---

<Layout
    title="Proviser Chile | Agricultura"
    description="Proviser Chile es una empresa de servicios de alimentación colectiva, concesiones y eventos en Chile."
>
    <section class="container mx-auto px-4 py-16 bg-blue-900 rounded-b-2xl">
        <img
            src="/Sin título-9.jpeg"
            alt="Insumos para Agricultura en Chile"
            class="w-full h-[512px] object-cover mb-6 rounded-lg shadow-lg"
        />

        <h1 class="text-5xl max-w-4xl text-balance font-bold text-white mb-4">
            Ferretería y Herramientas para Agricultura en La Serena y Coquimbo
        </h1>
        <p class="text-zinc-300 max-w-5xl text-xl mb-6">
            Impulsamos la <strong>agricultura en la Región de Coquimbo</strong> con
            herramientas y equipos esenciales para la producción agrícola. En <strong
                >Proviser Chile</strong
            >, suministramos <strong>insumos agrícolas</strong> con entrega rápida
            y eficiente.
        </p>

        <hr class="my-6 border-zinc-300" />

        <h2 class="text-xl font-semibold text-white mb-4">
            Soluciones para el Sector Agrícola en Chile
        </h2>
        <ul class="space-y-3 mb-6 text-white">
            <li class="items-start inline-block text-pretty">
                <span class="text-green-500 mr-2">✅</span>
                <strong> Sistemas de riego y tuberías &nbsp;</strong>
                para cultivos eficientes.
            </li>
            <li class="items-start inline-block text-pretty">
                <span class="text-green-500 mr-2">✅</span>
                <strong> Herramientas agrícolas y repuestos &nbsp;</strong>
                de alta calidad.
            </li>
            <li class="items-start inline-block text-pretty">
                <span class="text-green-500 mr-2">✅</span>
                <strong> Suministros para invernaderos y producción. </strong>
            </li>
            <li class="items-start inline-block text-pretty">
                <span class="text-green-500 mr-2">✅</span>
                <strong> Despachos a campos y predios agrícolas &nbsp;</strong>
                en la Región de Coquimbo.
            </li>
        </ul>

        <a
            href="#contacto"
            class="block text-center w-fit bg-blue-100 text-black py-3 px-4 rounded-lg shadow-md hover:bg-blue-300 transition"
            >Consulta por Equipos Agrícolas</a
        >
    </section>
</Layout>
