---
import Layout from "@/layouts/Layout.astro";
---

<Layout
    title="Proviser Chile | Construcción"
    description="Proviser Chile es una empresa de servicios de alimentación colectiva, concesiones y eventos en Chile."
>
    <section class="container mx-auto px-4 py-16 bg-blue-900 rounded-b-2xl">
        <img
            src="/Sin título-2.jpeg"
            alt="Insumos para Construcción en Chile"
            class="w-full h-[512px] object-cover mb-6 rounded-lg shadow-lg"
        />

        <h1 class="text-5xl max-w-4xl text-balance font-bold text-white mb-4">
            Construcción - Materiales de calidad para obras y proyectos
        </h1>
        <p class="text-zinc-300 max-w-5xl text-xl mb-6">
            Proveer herramientas y materiales de <strong
                >construcción en la Región de Coquimbo y Chile</strong
            > es parte de nuestro compromiso. En <strong>Proviser Chile</strong
            >, abastecemos a empresas constructoras con insumos industriales de
            alta calidad y logística eficiente.
        </p>

        <hr class="my-6 border-zinc-300" />

        <h2 class="text-xl font-semibold text-white mb-4">
            Suministros para Obras de Construcción en Chile
        </h2>
        <ul class="space-y-3 mb-6 text-white">
            <li class="items-start inline-block text-pretty">
                <span class="text-green-500 mr-2">✅</span>
                <strong>
                    Ferretería para construcción en La Serena y Coquimbo
                </strong>
                , con despacho inmediato.
            </li>
            <li class="items-start inline-block text-pretty">
                <span class="text-green-500 mr-2">✅</span>
                <strong> Herramientas eléctricas y manuales &nbsp;</strong>
                para obras y proyectos.
            </li>
            <li class="items-start inline-block text-pretty">
                <span class="text-green-500 mr-2">✅</span>
                <strong> Sistemas de fijación y anclaje &nbsp;</strong>
                para estructuras seguras.
            </li>
            <li class="items-start inline-block text-pretty">
                <span class="text-green-500 mr-2">✅</span>
                <strong> Equipos de seguridad industrial &nbsp;</strong>
                para faenas de construcción.
            </li>
        </ul>

        <a
            href="#contacto"
            class="block text-center w-fit bg-blue-100 text-black py-3 px-4 rounded-lg shadow-md hover:bg-blue-300 transition"
            >Solicita tu Cotización para Construcción</a
        >
    </section>
</Layout>
