---
import Layout from "@/layouts/Layout.astro";
---

<Layout
    title="Proviser Chile | Minería"
    description="Proviser Chile es una empresa de servicios de alimentación colectiva, concesiones y eventos en Chile."
>
    <section class="container mx-auto px-4 py-16 bg-blue-900 rounded-b-2xl">
        <img
            src="/Sin título-4.jpeg"
            alt="Insumos para Minería en Chile"
            class="w-full h-[512px] object-cover mb-6 rounded-lg shadow-lg"
        />

        <h1 class="text-5xl max-w-4xl text-balance font-bold text-white mb-4">
            Insumos para Minería en La Serena y Coquimbo - Proviser Chile
        </h1>
        <p class="text-zinc-300 max-w-5xl text-xl mb-6">
            Proveer insumos de
            <strong>
                ferretería industrial para minería en La Serena, Coquimbo y
                Chile
            </strong>
            es nuestra especialidad. Contamos con herramientas, repuestos y cajas
            de muestra minera de alta calidad para operaciones en
            <strong> faenas mineras </strong>
            a nivel nacional.
        </p>

        <hr class="my-6 border-zinc-300" />

        <h2 class="text-xl font-semibold text-white mb-4">
            Suministros Industriales para Minería en Chile
        </h2>
        <ul class="space-y-3 mb-6 text-white">
            <li class="items-start inline-block text-pretty">
                <span class="text-green-500 mr-2">✅</span>
                <strong>
                    Herramientas industriales de alto rendimiento &nbsp;
                </strong>
                para trabajos mineros.
            </li>
            <li class="items-start inline-block text-pretty">
                <span class="text-green-500 mr-2">✅</span>
                <strong> Cajas de muestra minera personalizadas &nbsp;</strong>
                para exploración y análisis.
            </li>
            <li class="items-start inline-block text-pretty">
                <span class="text-green-500 mr-2">✅</span>
                <strong> Equipamiento para seguridad minera </strong>
                , incluyendo señalización y protección.
            </li>
            <li class="items-start inline-block text-pretty">
                <span class="text-green-500 mr-2">✅</span>
                <strong> Logística y despacho eficiente &nbsp;</strong>
                a faenas mineras en &nbsp;
                <strong> Atacama, Antofagasta y Coquimbo </strong>.
            </li>
        </ul>

        <a
            href="#contacto"
            class="block text-center w-fit bg-blue-100 text-black py-3 px-4 rounded-lg shadow-md hover:bg-blue-300 transition"
            >Cotiza Insumos Mineros Ahora</a
        >
    </section>
</Layout>
