<section class="py-32" id="Blog">
    <div
        class="container mx-auto px-4 flex flex-col gap-8 lg:flex-row lg:gap-16"
    >
        <div class="grid gap-x-4 gap-y-8 md:grid-cols-2 lg:gap-x-6 lg:gap-y-12">
            <a
                href="/blog/soluciones-en-abastecimiento"
                class="group flex flex-col"
            >
                <div class="mb-4 flex overflow-clip rounded-xl md:mb-5">
                    <div class="transition duration-300 group-hover:scale-105">
                        <img
                            src="/blogs/Sin título-13.jpeg.jpg"
                            alt="Sabores del Mar en Coquimbo: Platos Emblemáticos de
                        Dominga Domínguez"
                            class="aspect-[3/2] h-full w-full object-cover object-center"
                            transition:name="imgsoluciones-en-abastecimiento"
                        />
                    </div>
                </div>
                <div
                    class="flex w-fit items-center rounded-full border border-border p-1"
                >
                    <div
                        class="inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent bg-primary text-primary-foreground hover:bg-primary/80"
                    >
                        Insudtrial
                    </div>
                    <div class="mx-2 text-xs font-medium">7 min de lectura</div>
                </div>
                <div
                    class="mb-2 flex items-start gap-4 pt-4 md:mb-3 md:pt-4 lg:pt-4"
                >
                    <span
                        class="line-clamp-3 flex-1 break-words text-lg font-medium md:text-2xl lg:text-2xl xl:text-3xl"
                    >
                        Proviser Industrial: Soluciones en Abastecimiento para
                        Minería y Otras Industrias
                    </span>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-arrow-up-right size-6 shrink-0"
                    >
                        <path d="M7 7h10v10"></path>
                        <path d="M7 17 17 7"></path>
                    </svg>
                </div>
                <div
                    class="mb-4 line-clamp-2 text-sm text-muted-foreground md:mb-5 md:text-base"
                >
                    En la minería y la industria, contar con insumos de alta
                    calidad es clave para garantizar eficiencia, seguridad y
                    cumplimiento normativo. El abastecimiento confiable de
                    equipos y herramientas es fundamental para mantener
                    operaciones productivas y reducir tiempos de inactividad.
                </div>
                <div class="flex items-center gap-2">
                    <span
                        class="relative flex shrink-0 overflow-hidden rounded-full size-12"
                    >
                        <img
                            class="aspect-square h-full w-full"
                            alt="Avatar de usuario"
                            src="https://shadcnblocks.com/images/block/avatar-1.webp"
                        />
                    </span>
                    <div class="flex flex-col gap-px">
                        <span class="text-xs text-muted-foreground">
                            26 Feb 2025
                        </span>
                    </div>
                </div>
            </a>
            <a
                href="/blog/abastecimiento-y-soluciones-industriales"
                class="group flex flex-col"
            >
                <div class="mb-4 flex overflow-clip rounded-xl md:mb-5">
                    <div class="transition duration-300 group-hover:scale-105">
                        <img
                            src="/blogs/Sin título-14.jpeg.jpg"
                            alt="Sabores de Verano en La Serena y Coquimbo: Descubre los Platos Imperdibles de Dominga Domínguez"
                            class="aspect-[3/2] h-full w-full object-cover object-center"
                            transition:name="imgabastecimiento-y-soluciones-industriales"
                        />
                    </div>
                </div>
                <div
                    class="flex w-fit items-center rounded-full border border-border p-1"
                >
                    <div
                        class="inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent bg-primary text-primary-foreground hover:bg-primary/80"
                    >
                        Industrial
                    </div>
                    <div class="mx-2 text-xs font-medium">5 min de lectura</div>
                </div>
                <div
                    class="mb-2 flex items-start gap-4 pt-4 md:mb-3 md:pt-4 lg:pt-4"
                >
                    <span
                        class="line-clamp-3 flex-1 break-words text-lg font-medium md:text-2xl lg:text-2xl xl:text-3xl"
                    >
                        Proviser: Abastecimiento y Soluciones Industriales para
                        un Mantenimiento Eficiente
                    </span>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-arrow-up-right size-6 shrink-0"
                    >
                        <path d="M7 7h10v10"></path>
                        <path d="M7 17 17 7"></path>
                    </svg>
                </div>
                <div
                    class="mb-4 line-clamp-2 text-sm text-muted-foreground md:mb-5 md:text-base"
                >
                    El mantenimiento y abastecimiento industrial son pilares
                    fundamentales para garantizar la eficiencia operativa en
                    diversos sectores, desde la minería y la construcción hasta
                    la administración de condominios y grandes infraestructuras.
                    Contar con insumos de calidad, equipos de seguridad,
                    herramientas especializadas y sistemas de gestión
                    optimizados permite reducir costos, evitar fallas y
                    prolongar la vida útil de cada instalación.
                </div>
                <div class="flex items-center gap-2">
                    <span
                        class="relative flex shrink-0 overflow-hidden rounded-full size-12"
                    >
                        <img
                            class="aspect-square h-full w-full"
                            alt="Avatar de usuario"
                            src="https://shadcnblocks.com/images/block/avatar-1.webp"
                        />
                    </span>
                    <div class="flex flex-col gap-px">
                        <span class="text-xs text-muted-foreground">
                            26 Feb 2025
                        </span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
