---
import { ChevronRight, HardHat, Pickaxe, Tractor } from "lucide-react";

// Component logic here
---

<section class="py-32">
    <div class="container mx-auto px-2">
        <h2 class="mb-4 text-center text-4xl font-semibold">
            Trabajamos con Empresas de Distintos Sectores
        </h2>
        <p class="text-xl text-center text-zinc-800">
            Ofrecemos soluciones de abastecimiento industrial a empresas de
            distintos sectores, desde la minería hasta la construcción.
        </p>
        <div class="grid gap-5 pt-14 xl:grid-cols-3">
            <a href="#" class="group relative overflow-hidden rounded-xl">
                <img
                    src="/Sin título-4.jpeg"
                    alt="placeholder"
                    class="h-[350px] w-full rounded-xl object-cover object-center"
                />
                <div
                    class="absolute bottom-0 left-0 right-0 top-0 translate-y-20 rounded-xl bg-gradient-to-t from-primary to-transparent transition-transform duration-300 group-hover:translate-y-0"
                >
                </div>
                <div
                    class="absolute top-0 flex h-full w-full flex-col justify-between p-7"
                >
                    <span
                        class="ml-auto flex w-fit items-center gap-1 rounded-full bg-primary px-4 py-2.5 text-sm font-semibold text-background"
                    >
                        <Pickaxe className="h-auto w-6" />
                        Minería
                    </span>
                    <div class="flex flex-col gap-5 text-background">
                        <h4 class="text-2xl font-semibold lg:text-3xl">
                            Soluciones de Abastecimiento para la Minería
                        </h4>
                        <p class="flex items-center gap-1 font-medium">
                            Preparados para la demanda
                            <ChevronRight className="h-auto w-4" />
                        </p>
                    </div>
                </div>
            </a>
            <a href="#" class="group relative overflow-hidden rounded-xl">
                <img
                    src="/Sin título-2.jpeg"
                    alt="placeholder"
                    class="h-[350px] w-full rounded-xl object-cover object-center"
                />
                <div
                    class="absolute bottom-0 left-0 right-0 top-0 translate-y-20 rounded-xl bg-gradient-to-t from-primary to-transparent transition-transform duration-300 group-hover:translate-y-0"
                >
                </div>
                <div
                    class="absolute top-0 flex h-full w-full flex-col justify-between p-7"
                >
                    <span
                        class="ml-auto flex w-fit items-center gap-1 rounded-full bg-primary px-4 py-2.5 text-sm font-semibold text-background"
                    >
                        <span
                            class="relative flex shrink-0 overflow-hidden size-7 rounded-full"
                        >
                            <HardHat className="h-auto w-7" />
                        </span>
                        Construcción
                    </span>
                    <div class="flex flex-col gap-5 text-background">
                        <h4 class="text-2xl font-semibold lg:text-3xl">
                            Soluciones de Abastecimiento para la Construcción
                        </h4>
                        <p class="flex items-center gap-1 font-medium">
                            Conoce más sobre nuestros servicios
                            <ChevronRight className="h-auto w-4" />
                        </p>
                    </div>
                </div>
            </a>
            <a href="#" class="group relative overflow-hidden rounded-xl">
                <img
                    src="/Sin título-9.jpeg"
                    alt="placeholder"
                    class="h-[350px] w-full rounded-xl object-cover object-center"
                />
                <div
                    class="absolute bottom-0 left-0 right-0 top-0 translate-y-20 rounded-xl bg-gradient-to-t from-primary to-transparent transition-transform duration-300 group-hover:translate-y-0"
                >
                </div>
                <div
                    class="absolute top-0 flex h-full w-full flex-col justify-between p-7"
                >
                    <span
                        class="ml-auto flex w-fit items-center gap-1 rounded-full bg-primary px-4 py-2.5 text-sm font-semibold text-background"
                    >
                        <Tractor className="h-auto w-6" />
                        Agricultura
                    </span>
                    <div class="flex flex-col gap-5 text-background">
                        <h4 class="text-2xl font-semibold lg:text-3xl">
                            Soluciones de Abastecimiento para la Agricultura
                        </h4>
                        <p class="flex items-center gap-1 font-medium">
                            Conoce más sobre nuestros servicios
                            <ChevronRight className="h-auto w-4" />
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
