---
// Component logic here
---

<section class="py-32">
    <div class="container mx-auto px-2">
        <h1 class="mb-4 text-center text-4xl font-semibold">
            Versatile Designs
        </h1><p class="text-center text-muted-foreground">
            Personalize the box to fit your requirements
        </p><div class="grid gap-5 pt-14 xl:grid-cols-3">
            <a href="#" class="group relative overflow-hidden rounded-xl"
                ><img
                    src="https://images.unsplash.com/photo-1563952532949-3d1a874ad614?q=80&w=1951&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="placeholder"
                    class="h-full max-h-[450px] w-full rounded-xl object-cover object-center"
                /><div
                    class="absolute bottom-0 left-0 right-0 top-0 translate-y-20 rounded-xl bg-gradient-to-t from-primary to-transparent transition-transform duration-300 group-hover:translate-y-0"
                >
                </div><div
                    class="absolute top-0 flex h-full w-full flex-col justify-between p-7"
                >
                    <span
                        class="ml-auto flex w-fit items-center gap-1 rounded-full bg-primary px-4 py-2.5 text-sm font-semibold text-background"
                        ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-zap h-auto w-6 fill-background"
                            ><path
                                d="M4 14a1 1 0 0 1-.78-1.63l9.9-10.2a.5.5 0 0 1 .86.46l-1.92 6.02A1 1 0 0 0 13 10h7a1 1 0 0 1 .78 1.63l-9.9 10.2a.5.5 0 0 1-.86-.46l1.92-6.02A1 1 0 0 0 11 14z"
                            ></path></svg
                        >Advanced tools</span
                    ><div class="flex flex-col gap-5 text-background">
                        <h4 class="text-2xl font-semibold lg:text-3xl">
                            Transform your website into a market leader.
                        </h4><p class="flex items-center gap-1 font-medium">
                            Explore all features<svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-chevron-right h-auto w-4"
                                ><path d="m9 18 6-6-6-6"></path></svg
                            >
                        </p>
                    </div>
                </div></a
            ><a href="#" class="group relative overflow-hidden rounded-xl"
                ><img
                    src="https://images.unsplash.com/photo-1653288973812-81d1951b8127?q=80&w=2022&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="placeholder"
                    class="h-full max-h-[450px] w-full rounded-xl object-cover object-center"
                /><div
                    class="absolute bottom-0 left-0 right-0 top-0 translate-y-20 rounded-xl bg-gradient-to-t from-primary to-transparent transition-transform duration-300 group-hover:translate-y-0"
                >
                </div><div
                    class="absolute top-0 flex h-full w-full flex-col justify-between p-7"
                >
                    <span
                        class="ml-auto flex w-fit items-center gap-2 rounded-full bg-background/30 px-4 py-2.5 text-sm font-semibold backdrop-blur-sm"
                        ><span
                            class="relative flex shrink-0 overflow-hidden size-7 rounded-full"
                            ><img
                                class="aspect-square h-full w-full"
                                alt="placeholder"
                                src="/images/block/avatar-1.webp"
                            /></span
                        >Tailored for experts</span
                    ><div class="flex flex-col gap-5 text-background">
                        <h4 class="text-2xl font-semibold lg:text-3xl">
                            Elevate your platform to the next level.
                        </h4><p class="flex items-center gap-1 font-medium">
                            Explore all features<svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-chevron-right h-auto w-4"
                                ><path d="m9 18 6-6-6-6"></path></svg
                            >
                        </p>
                    </div>
                </div></a
            ><a href="#" class="group relative overflow-hidden rounded-xl"
                ><img
                    src="https://images.unsplash.com/photo-1647715360138-33fb6fe68539?q=80&w=2022&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="placeholder"
                    class="h-full max-h-[450px] w-full rounded-xl object-cover object-center"
                /><div
                    class="absolute bottom-0 left-0 right-0 top-0 translate-y-20 rounded-xl bg-gradient-to-t from-primary to-transparent transition-transform duration-300 group-hover:translate-y-0"
                >
                </div><div
                    class="absolute top-0 flex h-full w-full flex-col justify-between p-7"
                >
                    <span
                        class="ml-auto flex w-fit items-center gap-1 p-2.5 text-sm font-semibold text-background"
                        ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-zap h-auto w-6 fill-background"
                            ><path
                                d="M4 14a1 1 0 0 1-.78-1.63l9.9-10.2a.5.5 0 0 1 .86.46l-1.92 6.02A1 1 0 0 0 13 10h7a1 1 0 0 1 .78 1.63l-9.9 10.2a.5.5 0 0 1-.86-.46l1.92-6.02A1 1 0 0 0 11 14z"
                            ></path></svg
                        >Latest Collection</span
                    ><div class="flex flex-col gap-5 text-background">
                        <h4 class="text-2xl font-semibold lg:text-3xl">
                            Redefine your industry leadership.
                        </h4><p class="flex items-center gap-1 font-medium">
                            Explore all features<svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-chevron-right h-auto w-4"
                                ><path d="m9 18 6-6-6-6"></path></svg
                            >
                        </p>
                    </div>
                </div></a
            >
        </div>
    </div>
</section>
