---
// Component logic here
---

<section class="bg-gray-100 py-32">
    <div class="container mx-auto px-2">
        <footer>
            <div
                class="mb-14 flex flex-col justify-between gap-11 md:items-start xl:flex-row xl:items-center xl:gap-6"
            >
                <div>
                    <h1 class="mb-4 text-4xl font-semibold">
                        Get More Done.
                    </h1><p class="mb-8 text-xl text-muted-foreground">
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit.
                    </p><div class="flex items-center gap-3">
                        <button
                            class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2"
                            >Start for free</button
                        ><button
                            class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2"
                            >Compare plans</button
                        >
                    </div>
                </div><div
                    class="flex flex-col justify-between gap-6 rounded-2xl bg-white p-6 shadow-lg md:flex-row"
                >
                    <div class="flex flex-col items-center justify-center p-10">
                        <div class="flex text-6xl font-semibold">
                            0<div class="h-full text-xl">€</div>
                        </div><div class="text-sm">Free forever</div>
                    </div><div
                        class="h-[1px] w-full bg-muted-foreground/30 md:h-auto md:w-[1px]"
                    >
                    </div><ul
                        class="flex flex-col justify-center space-y-3 text-muted-foreground"
                    >
                        <li
                            class="flex items-center gap-2 font-medium hover:text-primary"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-circle-check h-5 w-5 text-primary"
                                ><circle cx="12" cy="12" r="10"></circle><path
                                    d="m9 12 2 2 4-4"></path></svg
                            ><p class="text-gray-400">1 Team Member</p>
                        </li><li
                            class="flex items-center gap-2 font-medium hover:text-primary"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-circle-check h-5 w-5 text-primary"
                                ><circle cx="12" cy="12" r="10"></circle><path
                                    d="m9 12 2 2 4-4"></path></svg
                            ><p class="text-gray-400">Unlimited Downloads</p>
                        </li><li
                            class="flex items-center gap-2 font-medium hover:text-primary"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-circle-check h-5 w-5 text-primary"
                                ><circle cx="12" cy="12" r="10"></circle><path
                                    d="m9 12 2 2 4-4"></path></svg
                            ><p class="text-gray-400">100GB Space</p>
                        </li><li
                            class="flex items-center gap-2 font-medium hover:text-primary"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-circle-check h-5 w-5 text-primary"
                                ><circle cx="12" cy="12" r="10"></circle><path
                                    d="m9 12 2 2 4-4"></path></svg
                            ><p class="text-gray-400">Basic Support</p>
                        </li>
                    </ul>
                </div>
            </div><div
                class="grid grid-cols-2 gap-8 border-t pt-20 lg:grid-cols-5"
            >
                <div>
                    <h3 class="mb-4 font-bold">Product</h3><ul
                        class="space-y-4 text-muted-foreground"
                    >
                        <li class="font-medium hover:text-primary">
                            <a href="#">Features</a>
                        </li><li class="font-medium hover:text-primary">
                            <a href="#">Tasks</a>
                        </li><li class="font-medium hover:text-primary">
                            <a href="#">Calendar</a>
                        </li><li class="font-medium hover:text-primary">
                            <a href="#">Conferencing</a>
                        </li><li class="font-medium hover:text-primary">
                            <a href="#">Invoicing</a>
                        </li><li class="font-medium hover:text-primary">
                            <a href="#">Security</a>
                        </li>
                    </ul>
                </div><div>
                    <h3 class="mb-4 font-bold">Resources</h3><ul
                        class="space-y-4 text-muted-foreground"
                    >
                        <li class="font-medium hover:text-primary">
                            <a href="#">Blog</a>
                        </li><li class="font-medium hover:text-primary">
                            <a href="#">Pricing</a>
                        </li><li class="font-medium hover:text-primary">
                            <a href="#">Roadmap</a>
                        </li><li class="font-medium hover:text-primary">
                            <a href="#">Changelog</a>
                        </li><li class="font-medium hover:text-primary">
                            <a href="#">Resources</a>
                        </li>
                    </ul>
                </div><div>
                    <h3 class="mb-4 font-bold">Case Studies</h3><ul
                        class="space-y-4 text-muted-foreground"
                    >
                        <li class="font-medium hover:text-primary">
                            <a href="#">Shadcn</a>
                        </li><li class="font-medium hover:text-primary">
                            <a href="#">React</a>
                        </li><li class="font-medium hover:text-primary">
                            <a href="#">Tailwind</a>
                        </li>
                    </ul>
                </div><div>
                    <h3 class="mb-4 font-bold">Integrations</h3><ul
                        class="space-y-4 text-muted-foreground"
                    >
                        <li class="font-medium hover:text-primary">
                            <a href="#">Hubspot</a>
                        </li><li class="font-medium hover:text-primary">
                            <a href="#">Slack</a>
                        </li>
                    </ul>
                </div><div>
                    <h3 class="mb-4 font-bold">Company</h3><ul
                        class="space-y-4 text-muted-foreground"
                    >
                        <li class="font-medium hover:text-primary">
                            <a href="#">About </a>
                        </li><li class="font-medium hover:text-primary">
                            <a href="#">Company</a>
                        </li><li class="font-medium hover:text-primary">
                            <a href="#">Support</a>
                        </li><li class="font-medium hover:text-primary">
                            <a href="#">Book a demo</a>
                        </li>
                    </ul>
                </div>
            </div><div
                class="mt-20 flex flex-col items-start justify-between gap-4 border-t pt-8 text-center text-sm font-medium text-muted-foreground lg:flex-row lg:items-center"
            >
                <ul class="flex justify-center gap-4 lg:justify-start">
                    <li class="hover:text-primary">
                        <a href="#">Privacy</a>
                    </li><li class="hover:text-primary">
                        <a href="#">Terms</a>
                    </li><li class="hover:text-primary">
                        <a href="#">Imprint</a>
                    </li><li>
                        <p class="text-gray-400">
                            © 2024 Shadcnblocks. All rights reserved.
                        </p>
                    </li>
                </ul><ul
                    class="flex items-center justify-center gap-4 lg:justify-start"
                >
                    <li><p class="text-black">Follow us:</p></li><li>
                        <button
                            class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2 gap-2 rounded-full"
                            ><svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-linkedin h-4 w-4"
                                ><path
                                    d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"
                                ></path><rect width="4" height="12" x="2" y="9"
                                ></rect><circle cx="4" cy="4" r="2"
                                ></circle></svg
                            >Linkedin</button
                        >
                    </li><li>
                        <button
                            class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2 gap-2 rounded-full"
                            ><svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-life-buoy h-4 w-4"
                                ><circle cx="12" cy="12" r="10"></circle><path
                                    d="m4.93 4.93 4.24 4.24"></path><path
                                    d="m14.83 9.17 4.24-4.24"></path><path
                                    d="m14.83 14.83 4.24 4.24"></path><path
                                    d="m9.17 14.83-4.24 4.24"></path><circle
                                    cx="12"
                                    cy="12"
                                    r="4"></circle></svg
                            >Product Hunt</button
                        >
                    </li>
                </ul>
            </div>
        </footer>
    </div>
</section>
