---
import { Facebook, Instagram } from "lucide-react";

// Component logic here
---

<section class="bg-gray-100 py-32">
    <div class="container mx-auto px-2">
        <footer>
            <div
                class="mb-14 flex flex-col justify-between gap-11 md:items-start xl:flex-row xl:items-center xl:gap-6"
            >
                <div>
                    <h1 class="mb-4 text-4xl font-semibold">
                        Que esperas para empezar a innovar con nosotros?
                    </h1>
                    <p class="mb-8 text-xl text-muted-foreground">
                        Contactanos y descubre como podemos ayudarte.
                    </p>
                    <div class="flex items-center gap-3">
                        <a
                            href="tel:+56956176563"
                            class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-5 [&_svg]:shrink-0 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2"
                        >
                            Atención al cliente
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="32px"
                                height="32px"
                                viewBox="0 0 512 512"
                                ><path
                                    fill="CurrentColor"
                                    fill-rule="evenodd"
                                    d="M422.401 217.173c-6.613-67.84-46.72-174.506-170.667-174.506-123.946 0-164.053 106.666-170.666 174.506-23.2 8.805-38.503 31.08-38.4 55.894v29.866c0 32.99 26.743 59.734 59.733 59.734 32.99 0 59.733-26.744 59.733-59.734v-29.866c-.107-24.279-14.848-46.095-37.333-55.254 4.267-39.253 25.173-132.48 126.933-132.48s122.454 93.227 126.72 132.48c-22.44 9.178-37.106 31.01-37.12 55.254v29.866a59.947 59.947 0 0 0 33.92 53.76c-8.96 16.854-31.786 39.68-87.893 46.507-11.215-17.03-32.914-23.744-51.788-16.024-18.874 7.72-29.646 27.717-25.71 47.726 3.936 20.008 21.48 34.431 41.871 34.431a42.667 42.667 0 0 0 37.974-23.68c91.52-10.453 120.746-57.6 129.92-85.333 24.817-8.039 41.508-31.302 41.173-57.387v-29.866c.103-24.815-15.2-47.089-38.4-55.894Zm-302.933 85.76c0 9.426-7.641 17.067-17.067 17.067s-17.067-7.641-17.067-17.067v-29.866a17.067 17.067 0 1 1 34.134 0v29.866ZM384 273.067c0-9.426 7.641-17.067 17.067-17.067 9.425 0 17.066 7.641 17.066 17.067v29.866c0 9.426-7.64 17.067-17.066 17.067-9.426 0-17.067-7.641-17.067-17.067v-29.866Z"
                                ></path></svg
                            >
                        </a>
                        <a
                            target="_blank"
                            href="https://api.whatsapp.com/send/?phone=56956176563&text&type=phone_number&app_absent=0"
                            class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-5 [&_svg]:shrink-0 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2"
                        >
                            WhatsApp
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="32px"
                                height="32px"
                                viewBox="0 0 24 24"
                                fill="none"
                                ><path
                                    d="M6.014 8.006c.114-.904 1.289-2.132 2.22-1.996V6.01c.907.172 1.625 1.734 2.03 2.436.286.509.1 1.025-.167 1.243-.361.29-.926.692-.808 1.095C9.5 11.5 12 14 13.23 14.711c.466.269.804-.44 1.092-.804.21-.28.726-.447 1.234-.171.759.442 1.474.956 2.135 1.534.33.276.408.684.179 1.115-.403.76-1.569 1.76-2.415 1.557C13.976 17.587 8 15.27 6.08 8.558c-.108-.318-.08-.438-.066-.552Z"
                                    fill="CurrentColor"></path><path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M12 23c-1.224 0-1.9-.131-3-.5l-2.106 1.053A2 2 0 0 1 4 21.763V19.5c-2.153-2.008-3-4.323-3-7.5C1 5.925 5.925 1 12 1s11 4.925 11 11-4.925 11-11 11Zm-6-4.37-.636-.593C3.691 16.477 3 14.733 3 12a9 9 0 1 1 9 9c-.986 0-1.448-.089-2.364-.396l-.788-.264L6 21.764V18.63Z"
                                    fill="CurrentColor"></path></svg
                            >
                        </a>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-2 gap-8 border-t pt-20 lg:grid-cols-4">
                <div>
                    <h3 class="mb-4 font-bold">Sectores</h3><ul
                        class="space-y-4 text-muted-foreground"
                    >
                        <li class="font-medium hover:text-primary">
                            <a href="/sectores/mineria">Minería</a>
                        </li>
                        <li class="font-medium hover:text-primary">
                            <a href="/sectores/construccion">Construcción</a>
                        </li>
                        <li class="font-medium hover:text-primary">
                            <a href="/sectores/agricultura">Agricultura</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3 class="mb-4 font-bold">Contacto</h3>

                    <ul class="space-y-4 text-muted-foreground">
                        <li class="font-medium hover:text-primary">
                            <a href="tel:+56956176563">+56 9 5617 6563</a>
                        </li>
                        <li class="font-medium hover:text-primary">
                            <a
                                href="mailto:contacto@proviserchile.cl"
                                class="hidden md:block"
                                >contacto@proviserchile.cl</a
                            >
                            <a
                                href="mailto:contacto@proviserchile.cl"
                                class="md:hidden">Correo</a
                            >
                        </li>
                        <li class="font-medium hover:text-primary">
                            <a href="#">
                                Amanecer 2029 Barrio Industrial Coquimbo</a
                            >
                        </li>
                    </ul>
                </div>
                <div>
                    <h3 class="mb-4 font-bold">Blog</h3>
                    <ul class="space-y-4 text-muted-foreground">
                        <li class="font-medium hover:text-primary">
                            <a href="/blog/soluciones-en-abastecimiento"
                                >Proviser Industrial: Soluciones en
                                Abastecimiento para Minería y Otras Industrias</a
                            >
                        </li>
                        <li class="font-medium hover:text-primary">
                            <a
                                href="/blog/abastecimiento-y-soluciones-industriales"
                                >Proviser: Abastecimiento y Soluciones
                                Industriales para un Mantenimiento Eficiente</a
                            >
                        </li>
                    </ul>
                </div>
                <div>
                    <h3 class="mb-4 font-bold">Proviser</h3>
                    <ul class="space-y-4 text-muted-foreground">
                        <li class="font-medium hover:text-primary">
                            <a href="/#Sectores"> Sectores </a>
                        </li>
                        <li class="font-medium hover:text-primary">
                            <a href="/#Servicios"> Servicios y productos </a>
                        </li>

                        <li class="font-medium hover:text-primary">
                            <a href="/#Sobre-nosotros"> Sobre nosotros </a>
                        </li>

                        <li class="font-medium hover:text-primary">
                            <a href="#"> Productos </a>
                        </li>
                    </ul>
                </div>
            </div><div
                class="mt-20 flex flex-col items-start justify-between gap-4 border-t pt-8 text-center text-sm font-medium text-muted-foreground lg:flex-row lg:items-center"
            >
                <ul class="flex justify-center gap-4 lg:justify-start">
                    <li class="hover:text-primary">
                        <a href="#">Privacy</a>
                    </li>
                    <li class="hover:text-primary">
                        <a href="#">Terms</a>
                    </li>
                    <li class="hover:text-primary">
                        <a href="#">Imprint</a>
                    </li>
                    <li>
                        <p class="text-gray-400">
                            © {new Date().getFullYear()} Proviser Chile. Todos los
                            derechos reservados.
                        </p>
                    </li>
                </ul>
                <ul
                    class="flex items-center justify-center gap-4 lg:justify-start"
                >
                    <li>
                        <p class="text-black">Síguenos en:</p>
                    </li><li>
                        <a
                            href="https://www.instagram.com/proviserchile.cl?igsh=MWUxczl5ZXh5cHk4aw=="
                            target="_blank"
                            class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2 gap-2 rounded-full"
                        >
                            <Instagram className="h-4 w-4" />
                            Instagram
                        </a>
                    </li>
                    <li>
                        <button
                            class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2 gap-2 rounded-full"
                        >
                            <Facebook className="h-4 w-4" />
                            Facebook
                        </button>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
</section>
