---
import { SheetMenu } from "./sheet-menu";

// Component logic here
---

<header class="fixed top-0 left-0 right-0 z-50">
    <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 items-center justify-between">
            <div class="flex-1 md:flex md:items-center md:gap-12">
                <a class="block text-white" href="/">
                    <span class="sr-only">Home</span>
                    <img src="/logo.png" alt="Proviser Logo" class="h-10" />
                </a>
            </div>

            <div class="md:flex md:items-center md:gap-12">
                <nav aria-label="Global" class="hidden md:block">
                    <ul class="flex items-center gap-6 text-sm">
                        <li>
                            <a
                                class="transition font-medium hover:text-blue-500/75"
                                href="/#Sectores"
                            >
                                Sectores
                            </a>
                        </li>
                        <li>
                            <a
                                class="transition font-medium hover:text-blue-500/75"
                                href="/#Servicios"
                            >
                                Servicios y productos
                            </a>
                        </li>

                        <li>
                            <a
                                class="transition font-medium hover:text-blue-500/75"
                                href="/#Sobre-nosotros"
                            >
                                Sobre nosotros
                            </a>
                        </li>

                        <li>
                            <a
                                class="transition font-medium hover:text-blue-500/75"
                                href="#"
                            >
                                Productos
                            </a>
                        </li>

                        <li>
                            <a
                                class="transition font-medium hover:text-blue-500/75"
                                href="/#Testimonios"
                            >
                                Testimonios
                            </a>
                        </li>

                        <li>
                            <a
                                class="transition font-medium hover:text-blue-500/75"
                                href="/#Contacto"
                            >
                                Contacto
                            </a>
                        </li>
                        <li>
                            <a
                                class="transition font-medium hover:text-blue-500/75"
                                href="/#Blog"
                            >
                                Blog
                            </a>
                        </li>
                    </ul>
                </nav>

                <div class="flex items-center gap-4">
                    <div class="sm:flex sm:gap-4">
                        <a
                            class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-[color,box-shadow] disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg:not([class*='size-'])]:size-4 [&_svg]:shrink-0 ring-ring/10 dark:ring-ring/20 dark:outline-ring/40 outline-ring/50 focus-visible:ring-4 focus-visible:outline-1 aria-invalid:focus-visible:ring-0 bg-primary text-primary-foreground shadow-sm hover:bg-primary/90 h-9 px-4 py-2 has-[>svg]:px-3"
                            target="_blank"
                            href="https://api.whatsapp.com/send/?phone=56956176563&text&type=phone_number&app_absent=0"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24"
                                fill="none"
                                ><path
                                    d="M6.014 8.006c.114-.904 1.289-2.132 2.22-1.996V6.01c.907.172 1.625 1.734 2.03 2.436.286.509.1 1.025-.167 1.243-.361.29-.926.692-.808 1.095C9.5 11.5 12 14 13.23 14.711c.466.269.804-.44 1.092-.804.21-.28.726-.447 1.234-.171.759.442 1.474.956 2.135 1.534.33.276.408.684.179 1.115-.403.76-1.569 1.76-2.415 1.557C13.976 17.587 8 15.27 6.08 8.558c-.108-.318-.08-.438-.066-.552Z"
                                    fill="CurrentColor"></path><path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M12 23c-1.224 0-1.9-.131-3-.5l-2.106 1.053A2 2 0 0 1 4 21.763V19.5c-2.153-2.008-3-4.323-3-7.5C1 5.925 5.925 1 12 1s11 4.925 11 11-4.925 11-11 11Zm-6-4.37-.636-.593C3.691 16.477 3 14.733 3 12a9 9 0 1 1 9 9c-.986 0-1.448-.089-2.364-.396l-.788-.264L6 21.764V18.63Z"
                                    fill="CurrentColor"></path></svg
                            >
                            WhatsApp
                        </a>
                    </div>

                    <div class="block md:hidden">
                        <SheetMenu client:visible />
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<style>
    @reference "tailwindcss";
    header {
        animation: nav-shadown 1s linear both;
        animation-timeline: scroll();
        animation-range: 0 100px;
    }

    header {
        @apply bg-blue-50/90 text-black;
    }
    @keyframes nav-shadown {
        0% {
            background-color: transparent;
            color: white;
        }
        to {
            box-shadow:
                0 10px 15px -3px rgba(0, 0, 0, 0.1),
                0 4px 6px -2px rgba(0, 0, 0, 0.05);
            backdrop-filter: blur(10px);
        }
    }
</style>
