---
// Component logic here
---

<section
    class="relative h-svg dark overflow-hidden bg-background pt-12 font-sans md:pt-20"
>
    <video
        class="absolute right-1/2 bottom-1/2 min-w-full min-h-full max-w-none w-auto h-auto translate-x-1/2 translate-y-1/2 z-0 brightness-90 blur-sm md:blur-none md:h-[600px] object-cover [mask-image:radial-gradient(ellipse_90%_90%_at_50%_50%,#000_1%,transparent_50%)]"
        autoplay=""
        muted="true"
        preload="auto"
        loop=""
        poster="/img/landing/videoplayback.jpg"
        src="/11887094-hd_1920_1080_25fps.mp4"></video>
    <div class="container mx-auto px-2">
        <div class="mb-24 flex flex-col items-center gap-8">
            <div>
                <h1 class="mb-5 text-center text-5xl font-bold text-foreground">
                    Proviser Chile: Ferretería, Herramientas Industriales y
                    Logística Rápida en La Serena y Coquimbo
                </h1>
                <p
                    class="max-w-[820px] mx-auto text-center text-xl font-medium text-foreground"
                >
                    Proveemos insumos industriales con entrega rápida y un
                    servicio confiable en toda la Región de Coquimbo y Chile.
                </p>
            </div>
        </div>
        <div class="relative mx-auto aspect-[2.488709677_/_1] max-w-[89rem]">
            <div
                class="absolute bottom-0 right-0 z-10 w-[27%] rounded-t-xl overflow-hidden"
            >
                <div
                    style="position:relative;width:100%;padding-bottom:108.20244332629771%"
                    data-radix-aspect-ratio-wrapper=""
                >
                    <div
                        style="position:absolute;top:0;right:0;bottom:0;left:0"
                    >
                        <img
                            src="/Sin título-1.jpeg"
                            alt=""
                            class="block size-full object-cover object-left-top"
                        />
                    </div>
                </div>
            </div>
            <div
                class="absolute bottom-0 right-[14%] z-20 w-[32%] rounded-t-xl overflow-hidden shadow-xl"
            >
                <div
                    style="position:relative;width:100%;padding-bottom:108.20244332629771%"
                    data-radix-aspect-ratio-wrapper=""
                >
                    <div
                        style="position:absolute;top:0;right:0;bottom:0;left:0"
                    >
                        <img
                            src="/Sin título-3.jpeg"
                            alt=""
                            class="block size-full object-cover object-left-top"
                        />
                    </div>
                </div>
            </div>
            <div
                class="absolute bottom-0 left-1/2 z-30 w-[37%] -translate-x-1/2 rounded-t-xl overflow-hidden shadow-xl"
            >
                <div
                    style="position:relative;width:100%;padding-bottom:108.20244332629771%"
                    data-radix-aspect-ratio-wrapper=""
                >
                    <div
                        style="position:absolute;top:0;right:0;bottom:0;left:0"
                    >
                        <img
                            src="/Sin título-8.jpeg"
                            alt=""
                            class="block size-full object-cover"
                        />
                    </div>
                </div>
            </div>
            <div
                class="absolute bottom-0 left-[14%] z-20 w-[32%] rounded-t-xl overflow-hidden shadow-xl"
            >
                <div
                    style="position:relative;width:100%;padding-bottom:108.20244332629771%"
                    data-radix-aspect-ratio-wrapper=""
                >
                    <div
                        style="position:absolute;top:0;right:0;bottom:0;left:0"
                    >
                        <img
                            src="/Sin título-4.jpeg"
                            alt=""
                            class="block size-full object-cover object-right-top"
                        />
                    </div>
                </div>
            </div>
            <div
                class="absolute bottom-0 left-0 z-10 w-[27%] rounded-t-xl overflow-hidden"
            >
                <div
                    style="position:relative;width:100%;padding-bottom:108.20244332629771%"
                    data-radix-aspect-ratio-wrapper=""
                >
                    <div
                        style="position:absolute;top:0;right:0;bottom:0;left:0"
                    >
                        <img
                            src="/Sin título-5.jpeg"
                            alt=""
                            class="block size-full object-cover object-right-top"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
