---
// Component logic here
---

<section
    class="relative h-dvh overflow-hidden bg-blue-950 pt-12 font-sans md:pt-20"
>
    <video
        class="absolute right-1/2 bottom-1/2 min-w-full min-h-full max-w-none w-auto h-auto translate-x-1/2 translate-y-1/2 z-10 brightness-90 blur-[1px] md:blur-none md:h-[600px] object-cover saturate-150 opacity-60 [mask-image:radial-gradient(ellipse_100%_95%_at_50%_50%,#000_1%,transparent_60%)]"
        preload="auto"
        autoplay
        muted
        loop
        playsinline
        poster="/image.png"
    >
        <source src="/hero-video.webm" type="video/webm" />
        <source src="/hero-video.mp4" type="video/mp4" />
    </video>
    <div
        class="relative h-full flex flex-col justify-center items-center z-10 container mx-auto px-2"
    >
        <div class="mb-24 flex flex-col items-center gap-8">
            <div>
                <h1
                    class="mb-5 text-3xl max-w-5xl text-center font-bold text-balance text-white md:text-5xl"
                >
                    Proviser Chile: Soluciones Industriales y Logística
                    Eficiente en La Serena y Coquimbo
                </h1>
                <p
                    class="max-w-[820px] mx-auto text-center text-balance text-lg font-medium text-zinc-300 md:text-xl"
                >
                    Proveemos insumos industriales con entrega rápida y un
                    servicio confiable en toda la Región de Coquimbo y Chile.
                </p>
            </div>
        </div>
    </div>
</section>
