---
import { Check, ChevronRight } from "lucide-react";
---

<section class="py-32" id="Servicios">
    <div class="container mx-auto px-2">
        <div class="grid gap-4 md:grid-cols-2 md:gap-16">
            <h2 class="mb-4 text-4xl font-medium md:mb-0">
                Nuestros Servicios y Productos
            </h2>
            <p class="text-lg text-zinc-700 font-medium">
                Brindamos soluciones de abastecimiento para empresas de diversos
                sectores industriales, garantizando el suministro eficiente de
                insumos y equipos según sus necesidades.
            </p>
        </div>
        <div class="mt-20 grid gap-4 md:grid-cols-3">
            <div
                class="relative rounded-lg border-2 border-blue-800 bg-blue-900 group before:absolute before:inset-0 before:-z-20 before:bg-blue-900 hover:before:blur-xl before:rounded-lg before:transition-all before:duration-300"
            >
                <div class="relative p-1">
                    <img
                        src="/Sin título-8.jpeg"
                        alt="placeholder"
                        class="max-h-96 w-full rounded-t-lg object-cover md:max-h-64"
                    />
                    <div
                        class="inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 text-foreground absolute left-5 top-5 bg-primary-foreground"
                    >
                        Industriales
                    </div>
                </div>
                <div>
                    <div class="mb-3 px-6 pt-6">
                        <h3 class="font-bold text-2xl text-white">
                            Ferretería y Herramientas Industriales
                        </h3>
                        <p class="text-zinc-300 font-medium pl-2.5">
                            Ofrecemos una amplia gama de productos de ferretería
                            y herramientas industriales.
                        </p>
                    </div>
                    <div class="h-px border-t-2 border-zinc-300 border-dashed">
                    </div>
                    <ul class="">
                        <li
                            class="flex items-start text-blue-100 gap-2 px-6 py-3"
                        >
                            <Check className="h-auto w-6" />
                            Insumos para minería, construcción y agricultura.
                        </li>
                        <div
                            class="h-px border-t-2 border-zinc-300 border-dashed"
                        >
                        </div>
                        <li
                            class="flex items-start text-blue-100 gap-2 px-6 py-3"
                        >
                            <Check className="h-auto w-6" />
                            Herramientas eléctricas y manuales.
                        </li>
                        <div
                            class="h-px border-t-2 border-zinc-300 border-dashed"
                        >
                        </div>
                        <li
                            class="flex items-start text-blue-100 gap-2 px-6 py-3"
                        >
                            <Check className="h-auto w-6" />
                            Accesorios industriales y repuestos.
                        </li>
                    </ul>
                    <div class="h-px border-t-2 border-zinc-300 border-dashed">
                    </div>
                    <a
                        href="#"
                        class="my-4 flex text-blue-100 gap-2 px-6 font-medium"
                    >
                        Ver Más Productos
                        <ChevronRight className="h-auto w-4 mt-0.5" />
                    </a>
                </div>
            </div><div
                class="relative rounded-lg border-2 border-blue-800 bg-blue-900 group before:absolute before:inset-0 before:-z-20 before:bg-blue-900 hover:before:blur-xl before:rounded-lg before:transition-all before:duration-300"
            >
                <div class="relative p-1">
                    <img
                        src="/Sin título-1.jpeg"
                        alt="placeholder"
                        class="max-h-96 w-full rounded-t-lg object-cover md:max-h-64"
                    /><div
                        class="inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 text-foreground absolute left-5 top-5 bg-primary-foreground"
                    >
                        Minería
                    </div>
                </div>
                <div class="flex flex-col">
                    <div class="mb-3 px-6 pt-6">
                        <h3 class="font-bold text-2xl text-white">
                            Cajas de Muestra Minera
                        </h3>
                        <p class="text-zinc-300 font-medium pl-2.5">
                            Cajas de muestra minera para la exploración y
                            análisis de minerales.
                        </p>
                    </div>
                    <div class="h-px border-t-2 border-zinc-300 border-dashed">
                    </div>
                    <ul class="">
                        <li
                            class="flex items-start text-blue-100 gap-2 px-6 py-3"
                        >
                            <Check className="h-auto w-6" />
                            Fabricación de cajas de muestra para minería.
                        </li>
                        <div
                            class="h-px border-t-2 border-zinc-300 border-dashed"
                        >
                        </div>
                        <li
                            class="flex items-start text-blue-100 gap-2 px-6 py-3"
                        >
                            <Check className="h-auto w-6" />
                            Materiales de alta resistencia para transporte seguro
                        </li>
                    </ul>
                    <div class="h-px border-t-2 border-zinc-300 border-dashed">
                    </div>
                    <a
                        href="#"
                        class="my-4 flex flex-auto text-blue-100 gap-2 px-6 font-medium"
                    >
                        Ver Más Productos
                        <ChevronRight className="h-auto w-4 mt-0.5" />
                    </a>
                </div>
            </div>
            <div
                class="relative rounded-lg border-2 border-blue-800 bg-blue-900 group before:absolute before:inset-0 before:-z-20 before:bg-blue-900 hover:before:blur-xl before:rounded-lg before:transition-all before:duration-300"
            >
                <div class="relative p-1">
                    <img
                        src="/Sin título-7.jpeg"
                        alt="placeholder"
                        class="max-h-96 w-full rounded-t-lg object-cover md:max-h-64"
                    /><div
                        class="inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 text-foreground absolute left-5 top-5 bg-primary-foreground"
                    >
                        Logística
                    </div>
                </div><div>
                    <div class="mb-3 px-6 pt-6">
                        <h3 class="font-bold text-2xl text-white">
                            Logística y Despacho Rápido
                        </h3>
                        <p class="text-zinc-300 font-medium pl-2.5">
                            Despachos garantizados en la Región de Coquimbo.
                        </p>
                    </div><div
                        class="h-px border-t-2 border-zinc-300 border-dashed"
                    >
                    </div><ul class="">
                        <li
                            class="flex items-start text-blue-100 gap-2 px-6 py-3"
                        >
                            <Check className="h-auto w-6" />
                            Envíos asegurados en la Regiones de Chile.
                        </li>
                        <div
                            class="h-px border-t-2 border-zinc-300 border-dashed"
                        >
                        </div>
                        <li
                            class="flex items-start text-blue-100 gap-2 px-6 py-3"
                        >
                            <Check className="h-auto w-6" />
                            Entregas express a empresas mineras y constructoras.
                        </li>
                    </ul>
                    <div class="h-px border-t-2 border-zinc-300 border-dashed">
                    </div>
                    <a
                        href="#"
                        class="my-4 flex text-blue-100 gap-2 px-6 font-medium"
                    >
                        Ver Más Productos
                        <ChevronRight className="h-auto w-4 mt-0.5" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
