---
// Component logic here
---

<section class="py-32">
    <div class="container mx-auto px-2">
        <div
            class="mb-24 flex flex-col items-center justify-between gap-6 lg:flex-row"
        >
            <div
                class="w-full text-center text-3xl font-medium lg:w-1/2 lg:text-left lg:text-5xl"
            >
                <span class="text-muted-foreground">Built</span> with the latest
                technology stack
            </div><div
                class="w-full text-center text-lg font-medium lg:w-1/2 lg:text-left lg:text-xl"
            >
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Recusandae fuga error voluptates ut sint.
            </div>
        </div><ul
            class="mt-8 grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-3"
        >
            <li>
                <div
                    class="rounded-lg border bg-card text-card-foreground shadow-sm p-6"
                >
                    <img
                        src="/images/block/block-1.svg"
                        alt="Outreach"
                        class="w-14"
                    /><h3 class="mb-1 mt-4 text-lg font-medium">Outreach</h3><p
                        class="text-sm text-muted-foreground"
                    >
                        Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Quisquam, corporis!
                    </p>
                </div>
            </li><li>
                <div
                    class="rounded-lg border bg-card text-card-foreground shadow-sm p-6"
                >
                    <img
                        src="/images/block/block-2.svg"
                        alt="Typeform"
                        class="w-14"
                    /><h3 class="mb-1 mt-4 text-lg font-medium">Typeform</h3><p
                        class="text-sm text-muted-foreground"
                    >
                        Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Quisquam, corporis!
                    </p>
                </div>
            </li><li>
                <div
                    class="rounded-lg border bg-card text-card-foreground shadow-sm p-6"
                >
                    <img
                        src="/images/block/block-3.svg"
                        alt="Slack"
                        class="w-14"
                    /><h3 class="mb-1 mt-4 text-lg font-medium">Slack</h3><p
                        class="text-sm text-muted-foreground"
                    >
                        Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Quisquam, corporis!
                    </p>
                </div>
            </li><li>
                <div
                    class="rounded-lg border bg-card text-card-foreground shadow-sm p-6"
                >
                    <img
                        src="/images/block/block-4.svg"
                        alt="Mailchimp"
                        class="w-14"
                    /><h3 class="mb-1 mt-4 text-lg font-medium">Mailchimp</h3><p
                        class="text-sm text-muted-foreground"
                    >
                        Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Quisquam, corporis!
                    </p>
                </div>
            </li><li>
                <div
                    class="rounded-lg border bg-card text-card-foreground shadow-sm p-6"
                >
                    <img
                        src="/images/block/block-5.svg"
                        alt="Mixmax"
                        class="w-14"
                    /><h3 class="mb-1 mt-4 text-lg font-medium">Mixmax</h3><p
                        class="text-sm text-muted-foreground"
                    >
                        Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Quisquam, corporis!
                    </p>
                </div>
            </li><li>
                <div
                    class="rounded-lg border bg-card text-card-foreground shadow-sm p-6"
                >
                    <img
                        src="/images/block/block-6.svg"
                        alt="Webhooks"
                        class="w-14"
                    /><h3 class="mb-1 mt-4 text-lg font-medium">Webhooks</h3><p
                        class="text-sm text-muted-foreground"
                    >
                        Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Quisquam, corporis!
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>
