---
import { Container, ShieldCheck, UserCheck, Wrench } from "lucide-react";
---

<section class="relative pt-32 overflow-hidden" id="Sobre-nosotros">
    <div class="container mx-auto px-4 relative z-10 flex flex-col space-y-14">
        <h2
            class="px-6 text-2xl font-semibold md:mb-4 md:text-5xl lg:mb-6 lg:max-w-md lg:px-10"
        >
            ¿Por qué Elegir Proviser Chile?
        </h2>
        <div class="relative mt-6 md:mt-10">
            <div
                class="absolute top-0 h-px w-screen bg-border 2xl:-mx-[calc((100vw-100%)/2)]"
            >
            </div>
            <div class="grid divide-border md:grid-cols-4 md:divide-x">
                <div class="relative px-6 pb-20 md:pb-10 lg:px-10">
                    <div
                        class="absolute top-0 h-px w-screen bg-border md:hidden"
                    >
                    </div>
                    <div
                        class="relative -mt-6 mb-10 flex aspect-square w-12 items-center justify-center bg-zinc-100 md:-mt-10 md:mb-10 md:w-20"
                    >
                        <Container className="text-blue-900 h-auto size-10" />
                    </div>
                    <div>
                        <h3
                            class="mb-3 max-w-[12rem] text-lg font-semibold md:mb-4 md:text-2xl lg:mb-6"
                        >
                            Rapidez en Entregas
                        </h3>
                        <p class="text-zinc-900 font-medium lg:text-lg">
                            Enviamos productos de manera eficiente a todo Chile.
                        </p>
                    </div>
                </div>
                <div class="relative px-6 pb-20 md:pb-10 lg:px-10">
                    <div
                        class="absolute top-0 h-px w-screen bg-border md:hidden"
                    >
                    </div>
                    <div
                        class="relative -mt-6 mb-10 flex aspect-square w-12 items-center justify-center bg-zinc-100 md:-mt-10 md:mb-10 md:w-20"
                    >
                        <Wrench className="text-blue-900 h-auto size-10" />
                    </div>
                    <div>
                        <h3
                            class="mb-3 max-w-[16rem] text-lg font-semibold md:mb-4 md:text-2xl lg:mb-6"
                        >
                            Variedad de Insumos Industriales
                        </h3>
                        <p class="text-zinc-900 font-medium lg:text-lg">
                            Ferretería, herramientas y cajas de muestra minera.
                        </p>
                    </div>
                </div>
                <div class="relative px-6 pb-20 md:pb-10 lg:px-10">
                    <div
                        class="absolute top-0 h-px w-screen bg-border md:hidden"
                    >
                    </div>
                    <div
                        class="relative -mt-6 mb-10 flex aspect-square w-12 items-center justify-center bg-zinc-100 md:-mt-10 md:mb-10 md:w-20"
                    >
                        <UserCheck className="text-blue-900 h-auto size-10" />
                    </div>
                    <div>
                        <h3
                            class="mb-3 max-w-[12rem] text-lg font-semibold md:mb-4 md:text-2xl lg:mb-6"
                        >
                            Atención Personalizada
                        </h3>
                        <p class="text-zinc-900 font-medium lg:text-lg">
                            Asesoramos a empresas mineras,
                        </p>
                    </div>
                </div>
                <div class="relative px-6 pb-20 md:pb-10 lg:px-10">
                    <div
                        class="absolute top-0 h-px w-screen bg-border md:hidden"
                    >
                    </div>
                    <div
                        class="relative -mt-6 mb-10 flex aspect-square w-12 items-center justify-center bg-zinc-100 md:-mt-10 md:mb-10 md:w-20"
                    >
                        <ShieldCheck className="text-blue-900 h-auto size-10" />
                    </div>
                    <div>
                        <h3
                            class="mb-3 max-w-[12rem] text-lg font-semibold md:mb-4 md:text-2xl lg:mb-6"
                        >
                            Logística Confiable
                        </h3>
                        <p class="text-zinc-900 font-medium lg:text-lg">
                            Despachos garantizados en la Región de Coquimbo.
                        </p>
                    </div>
                </div>
            </div>
            <div
                class="absolute bottom-0 h-px w-screen bg-border 2xl:-mx-[calc((100vw-100%)/2)]"
            >
            </div>
        </div>
    </div>
    <div class="container mx-auto px-4 absolute inset-0 hidden h-full md:block">
        <div class="relative h-full">
            <div class="absolute inset-y-0 left-0 h-full w-px bg-border"></div>
            <div class="absolute inset-y-0 right-0 h-full w-px bg-border"></div>
        </div>
    </div>
</section>
